<!-- New Community section begin-->
<div class="col-lg-offset-0 col-lg-12" ng-show="showNewCommunityFlag">
    <!-- Form -->
    <form>
        <div class="row" class="col-lg-12">
            <div class="row col-lg-12">
                <div ng-show="communityErrorFlag" class="alert alert-danger" role="alert" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px; text-align:center"> <strong>{{communityErrorMsg}}</strong></div>
            </div>
            <div class="form-group col-lg-6">
                <label for="communityName" class="required-field">Community Name</label>
                <input ng-blur="checkName()" ng-model="newCommunityName" type="text" class="form-control" id="communityName" placeholder="name">
                <!-- error message: name is already exists -->
                <div ng-show="newCommunityNameConflict" class="alert alert-danger" role="alert" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px; text-align:center"> <strong>This name is already exists. Please try anothor one</strong></div>
                <!-- error message end -->
            </div>
            <div class="form-group col-lg-6">
                <label for="communityDescription" class="required-field">Community Description</label>
                <textarea ng-model="newCommunityDescription" class="form-control" id="communityDescription" rows="3" placeholder="description" style="resize:none"></textarea>
            </div>
        </div>
        <div class="row" class="col-lg-12">
            <div class="form-group col-lg-12">
                <label style="padding-left:15px" class="required-field">Add Sub Communities</label>
                <div class="panel-group col-lg-12">
                    <div style="padding-left: 15px;border: 1px solid #999;margin: 0px 15px 15px 15px;padding: 15px 5px 15px 10px;border-radius: 2px;padding-left: 15px; border: 1px solid #999; background: #FBFBFB;">
                        <!-- saved sub communities form begin -->
                        <div class="row mr-b-15" ng-repeat="subCommunity in savedSubCommunities" ng-init="subComIndex = $index">
                            <div class="panel panel-primary-collapsible" style="margin-left: 0px;">
                                <div class="panel-heading panel-heading-collapsible panel-heading-collapsible-style" style="height: 30px;font-size: 15px;line-height: 15px;background-color:#3a3a3a">
                                    <span>Saved Sub Community: {{subCommunity.name}}</span>
                                    <i ng-show="savedSubCommunitiesShowFlags[subComIndex]" ng-click="toggleSubCommunity(subComIndex)" class="fa fa-chevron-down fa-fw" style="float:right;"></i>
                                    <i ng-hide="savedSubCommunitiesShowFlags[subComIndex]" ng-click="toggleSubCommunity(subComIndex)" class="fa fa-chevron-right fa-fw ng-hide" style="float:right;"></i>
                                    <!-- <i class="fa fa-trash" style="float: right; display: inline-block; padding: 0px 5px;"></i> -->
                                </div>
                                <div ng-click="toggleSubCommunity(subComIndex)">
                                    <div class="summary clearfix">
                                        <div class="ng-binding"><span>Country: {{subCommunity.country}}</span></div>
                                        <div class="ng-binding"><span>Age Range: {{subCommunity.selectedAgeText}}</span></div>
                                        <div class="ng-binding"><span>Male: {{subCommunity.numMale}}</span></div>
                                        <div class="ng-binding"><span>Female: {{subCommunity.numFemale}}</span></div>
                                    </div>
                                </div>
                                <div class="row mr-t-15" ng-show="savedSubCommunitiesShowFlags[subComIndex]">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div ng-show="subCommunitiesValidationFlags[subComIndex].isFormInvalid" class="alert alert-danger" role="alert" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px;text-align:center"> <strong>{{subCommunitiesValidationFlags[subComIndex].errorMsg}}</strong></div>
                                            </div>
                                            <div class="row" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px;">
                                                <!-- Select Country -->
                                                <div class="form-group col-md-2 f32">
                                                    <label style="display: block;">Select Country</label>
                                                    <label class="radio">
                                                        <div style="display:inline-block;vertical-align:middle;margin-right:25px;">
                                                            <i class="flag ca"></i></div>
                                                        <div style="display:inline-block;">
                                                            <input type="radio" value="Canada" ng-model="subCommunity.country"> Canada</div>
                                                    </label>
                                                    <label class="radio">
                                                        <div style="display:inline-block;vertical-align:middle;margin-right:25px;">
                                                            <i class="flag us"></i></div>
                                                        <div style="display:inline-block;">
                                                            <input type="radio" value="USA" ng-model="subCommunity.country"> USA</div>
                                                    </label>
                                                </div>
                                                <!-- name & description -->
                                                <div class="form-group col-md-4">
                                                    <label style="display: block;" for="subCommunityName">Name</label>
                                                    <input type="text" ng-blur="checkSubCommunityName(subComIndex)" class="form-control" id="subCommunityName" ng-model="subCommunity.name">
                                                    <!-- error message: name is already exists -->
                                                    <div ng-show="subCommunityNameConflict" class="alert alert-danger" role="alert" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px; text-align:center"> <strong>This name is already exists. Please try anothor one</strong></div>
                                                    <!-- error message end -->
                                                    <label style="display: block;" for="subCommunityDescription">Description</label>
                                                    <textarea class="form-control" id="subCommunityDescription" rows="3" ng-model="subCommunity.description" style="resize:none"></textarea>
                                                </div>
                                                <!-- age range -->
                                                <div class="form-group col-md-2 col-md-offset-1">
                                                    <label style="display: block;">Select Age Range</label>
                                                    <div class="radio" ng-if="age.display" ng-repeat="age in subCommunity.ageselection">
                                                        <input type="checkbox" aria-label="Checkbox for following text input" ng-model="age.checked" ng-click="prepareAges('saved',subCommunity.recordID)" /> {{age.displayText}}
                                                    </div>
                                                    <div class="mr-t-15">
                                                        <label>Lock Ages:</label>
                                                        <input type="checkbox" name="ageLocked" ng-model="subCommunity.lockAges" style="vertical-align: text-top;margin-top: 2px;" />
                                                    </div>
                                                </div>
                                                <!--  Gender Numbers-->
                                                <div class="form-group col-md-3">
                                                    <label for="gerderMale" style="display: block;">Number of Male: </label>
                                                    <input type="number" min="0" id="gerderMale" ng-model="subCommunity.numMale">
                                                    <label for="gerderFemale" style="display:block;margin-top:20px">Number of Male: </label>
                                                    <input type="number" min="0" id="gerderFemale" ng-model="subCommunity.numFemale">
                                                </div>
                                                <!-- Select Number of Respondents -->
                                                <div class="row col-md-12" style="text-align:center">
                                                    <button type="button" class="btn btn-danger" ng-click="deleteNewSubCommunity($index)" style="">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- saved sub communities form end -->
                        <!-- new sub communitiy form begin -->
                        <div class="row mr-b-15" ng-show="showNewSubCommunity">
                            <div class="panel panel-primary-collapsible" style="margin-left: 0px;">
                                <div class="panel-heading panel-heading-collapsible panel-heading-collapsible-style" style="height: 30px;font-size: 15px;line-height: 10px;background-color:#337ab7">
                                    <span>New Sub Community: {{newSubCommunity.name}}</span>
                                    <i class="fa fa-times fa-lg" ng-click="closeNewSubCommunity()" style="float: right; display: inline-block; padding: 0px 5px;"></i>
                                </div>
                                <div>
                                    <div class="summary clearfix">
                                        <div class="ng-binding"><span>Country: {{newSubCommunity.country}}</span></div>
                                        <div class="ng-binding"><span>Age Range: {{newSubCommunity.selectedAgeText}}</span></div>
                                        <div class="ng-binding"><span>Male: {{newSubCommunity.numMale}}</span></div>
                                        <div class="ng-binding"><span>Female: {{newSubCommunity.numFemale}}</span></div>
                                    </div>
                                </div>
                                <div class="row mr-t-15">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div ng-show="newSubCommunityErrorFlag" class="alert alert-danger" role="alert" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px;text-align:center"> <strong>{{newSubCommunityErrorMsg}}</strong></div>
                                        </div>
                                        <div class="row" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px;">
                                            <!-- Select Country -->
                                            <div class="form-group col-md-2 f32">
                                                <label style="display: block;">Select Country</label>
                                                <label class="radio">
                                                    <div style="display:inline-block;vertical-align:middle;margin-right:25px;">
                                                        <i class="flag ca"></i></div>
                                                    <div style="display:inline-block;">
                                                        <input type="radio" name="country" value="Canada" ng-model="newSubCommunity.country" required> Canada</div>
                                                </label>
                                                <label class="radio">
                                                    <div style="display:inline-block;vertical-align:middle;margin-right:25px;">
                                                        <i class="flag us"></i></div>
                                                    <div style="display:inline-block;">
                                                        <input type="radio" name="country" value="USA" ng-model="newSubCommunity.country" required> USA</div>
                                                </label>
                                            </div>
                                            <!-- name & description -->
                                            <div class="form-group col-md-4">
                                                <label style="display: block;" for="subCommunityName">Name</label>
                                                <input type="text" ng-blur="checkNewSubCommunityName()" class="form-control" id="subCommunityName" ng-model="newSubCommunity.name">
                                                <!-- error message: name is already exists -->
                                                <div ng-show="newSubCommunityNameConflict" class="alert alert-danger" role="alert" style="padding: 10px 15px;margin: 0 auto 10px auto;border-radius: 0px; text-align:center"> <strong>This name is already exists. Please try anothor one</strong></div>
                                                <!-- error message end -->
                                                <label style="display: block;" for="subCommunityDescription">Description</label>
                                                <textarea class="form-control" id="subCommunityDescription" rows="3" ng-model="newSubCommunity.description" style="resize:none"></textarea>
                                            </div>
                                            <!-- age range -->
                                            <div class="form-group col-md-2 col-md-offset-1">
                                                <label style="display: block;">Select Age Range</label>
                                                <div class="radio" ng-if="age.display" ng-repeat="age in newSubCommunity.ageselection">
                                                    <input type="checkbox" aria-label="Checkbox for following text input" ng-model="age.checked" ng-click="prepareAges('new')" /> {{age.displayText}}
                                                </div>

                                                <div class="mr-t-15">
                                                    <label>Lock Ages:</label>
                                                    <input type="checkbox" name="ageLocked" ng-model="newSubCommunity.lockAges"  style="vertical-align: text-top;margin-top: 2px;"/>
                                                </div>
                                            </div>
                                            <!-- Select Gender -->

                                            <div class="form-group col-md-3">
                                                <label for="gerderMale" style="display: block;">Number of Male: </label>
                                                <input type="number" min="0" id="gerderMale" ng-model="newSubCommunity.numMale">
                                                <label for="gerderFemale" style="display:block;margin-top:20px">Number of Female: </label>
                                                <input type="number" min="0" id="gerderFemale" ng-model="newSubCommunity.numFemale">
                                            </div>
                                            <!-- Select Number of Respondents -->

                                            <div class="col-md-12" style="text-align:center">
                                                <button type="button" class="btn btn-primary" ng-click="submitNewSubCommunity()" analytics-on="click" analytics-category="Community" analytics-event="Save New Sub Community">Save</button>
                                                <button type="button" class="btn btn-danger" ng-click="resetNewSubCommunity()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add New SubCommunity Button -->
                        <div class="row">
                            <div class="col-lg-5">
                                <button type="button" class="btn btn-primary" ng-click="addNewSubCommunity()" ng-disabled="disableAddMore">Add More</button>
                            </div>
                        </div>
                        <!-- Add New SubCommunity Button End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- new sub community form end -->
        <!-- submit and cancel buttons begin-->
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <button type="button" class="btn btn-primary" ng-click="submitCommunity()" analytics-on="click" analytics-category="Community" analytics-event="Create New Community">SUBMIT</button>
                <button type="button" class="btn btn-danger" ng-click="showCommunities()">CANCEL</button>
            </div>
        </div>
        <!-- submit and cancel buttons end-->
    </form>
</div>
<!-- New Community section end-->