<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--
     <div class="info-box bg-brand-primary" ng-class="{'active': objs.active == true}" ng-click="boxClick(objs, $index)">
       <div class="info-box-icon">
         <i class="fa fa-file-text"></i>
       </div>
       <div class="info-box-content">
         <span class="info-box-text">Question Templates</span>
         <span class="info-box-number">8</span>
       </div>
       <div ng-show="showArrow[$index]" class="info-box-arrow"></div>
     </div> -->
<!--
<div id="chart2"></div>
<script type="text/javascript">
  var chart = c3.generate({
    bindto: '#chart2',
//                  size: {
//                    height: 200,
//                    width: 800
//                  },
    data: {
        x: 'Approval Date',
        columns: [
          ['Approval Date', '2015-06-15', '2015-06-01', '2015-04-01', '2015-03-21', '2015-03-11', '2015-03-01'],
          ['credits($)', -10000, -5700, -4200, -3300, -6600, 120000]
        ]
      },
    grid: {
      x: {
        show: true
      },
      y: {
        show: true
      }
    },
      axis : {
        x : {
          type : 'timeseries',
          tick: {
            format: function (x) { return x.getMonth() + '/' + x.getFullYear();}
          }
        }
      }
    //,
//                  legend: {
//                    show: false
//                  }
  });
</script>
          <!-- <a href="#"><div class="circle-tile-heading circle-tile-brand-primary"><img src="images/bmo-circular.jpeg" alt="..." class="img-circle" width="70" height="75"></div></a> -->
<!--<a class="circle-tile-footer" href="#">More Info  <i class="fa fa-chevron-circle-right"></i></a> -->
<!-- </div> -->

<!-- <div class="col-md-6">
   <div class="circle-tile ">
     <div class="circle-tile-content circle-tile-brand-primary">
       <div class="circle-tile-title">Business Intelligence</div>
       <div class="circle-tile-line"></div>
       <div class="circle-tile-number text-faded ">2 Projects in progress</div>
       <div class="circle-tile-number text-faded ">11 Projects in review</div>
       <div class="circle-tile-number text-faded ">Balance: 200,000$</div>
       <a class="circle-tile-footer" href="#">More Info  <i class="fa fa-chevron-circle-right"></i></a>
     </div>
   </div>
 </div>
 <div class="col-md-6">
   <div class="circle-tile ">
     <div class="circle-tile-content circle-tile-brand-primary">
       <div class="circle-tile-title">Department 4</div>
       <div class="circle-tile-line"></div>
       <div class="circle-tile-number text-faded ">5 Projects in progress</div>
       <div class="circle-tile-number text-faded ">1 Projects in review</div>
       <div class="circle-tile-number text-faded ">Balance: 20,000$</div>
       <a class="circle-tile-footer" href="#">More Info  <i class="fa fa-chevron-circle-right"></i></a>
     </div>
   </div>
 </div>
 <div class="col-md-6">
   <div class="circle-tile ">
     <div class="circle-tile-content circle-tile-brand-primary">
       <div class="circle-tile-title">Department 5</div>
       <div class="circle-tile-line"></div>
       <div class="circle-tile-number text-faded ">4 Projects in progress</div>
       <div class="circle-tile-number text-faded ">11 Projects in review</div>
       <div class="circle-tile-number text-faded ">Balance: 122,000$</div>
       <a class="circle-tile-footer" href="#">More Info  <i class="fa fa-chevron-circle-right"></i></a>
     </div>
   </div>
 </div>
 -->
<!-- <div class="col-md-6">
  <div class="circle-tile ">
    <div class="circle-tile-content circle-tile-brand-primary">
      <div class="circle-tile-title">Department 6</div>
      <div class="circle-tile-line"></div>
      <div class="circle-tile-number text-faded ">7 Projects in progress</div>
      <div class="circle-tile-number text-faded ">2 Projects in review</div>
      <div class="circle-tile-number text-faded ">Balance: 1000$</div>
      <a class="circle-tile-footer" href="#">More Info  <i class="fa fa-chevron-circle-right"></i></a>
    </div>
  </div>
</div> -->
</div> -->
</body>
</html>
