<div class="row">
    <div class="col-lg-12 overview-header">
        <div class="panel-heading">
            <h4 class="panel-title">Latest Announcement</h4>
        </div>
        <!--<div class="page-header">
          <h3>Overview</h3>
        </div>-->
        <!--<div class="col-lg-6">
            <div class="row">
                <div class="col-lg-5 userLogo">
                    <img src="" alt="" />
                </div>
                <div class="col-lg-7 title-text">
                    <h2>Hello {{userName}}</h2>
                    <p ng-show="isadminFlag">Please select a team below to continue</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
            <div class="fl-r box txt-al-c" ng-repeat="hlink in headLinks">
                <div class="single_service wow animated" style="visibility: visible;">
                    <div class="service_iconarea">
                                <span class="four_icon" ng-click="changeLocationPath('{{hlink.url}}')">
                                  <i class="fa {{hlink.icon}}"></i>
                                </span>
                    </div>
                </div>
                <p><span ng-click="changeLocationPath('{{hlink.url}}')">{{hlink.page}}</span></p>
            </div>
            </div>
            -->
            <!--<div class="col-lg-3 box txt-al-c">
                <div class="single_service wow animated" style="visibility: visible;">
                    <div class="service_iconarea">
                                <span class="four_icon" ng-click="changePath('views/admin/project_overview.html')">
                                  <i class="fa fa-book" style="margin-top: 12px;"></i>
                                </span>
                    </div>
                </div>
                <p><span ng-click="changePath('views/admin/project_overview.html')">View Projects</span></p>
            </div>-->
        </div>
    </div>
</div>