<!-- <div>
    <modal visible="showOptionModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="  color:#ffffff">&times;</span>
                    </button>
                    <div class="modal-title">New Project Options</div>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-md-offset-2 col-md-8 mr-t-15">
                        <button type="submit" ng-click="startNewProject()" class="btn btn-default btn-block" analytics-on="click" analytics-category="New Project" analytics-event="Start New Project Clicked">Start New Project</button>
                    </div>
                    <div class="col-md-offset-2 col-md-8 mr-t-15 mr-b-15">
                        <button type="submit" ng-click="copyFromOldProject()" class="btn btn-default btn-block" analytics-on="click" analytics-category="New Project" analytics-event="Choose From Existing Projects Clicked">Choose From Existing Projects</button>
                    </div>
                </div>
            </div>
        </div>
    </modal>
</div> -->
<div id="custom-modal">
    <div id="overlay">
        <div class="custom_modal_header text-center">
            <span class="titleText font-large">New Project</span>
            <button type="button" class="close" ng-click="close()">
                <span class="fontColor">&times;</span>
            </button>
        </div>
        <div class="custom_modal_body row">
            <div class="col-md-offset-2 col-md-8 mr-t-15 mr-b-15">
                <button type="submit" ng-click="select('startNewProject')" class="btn btn-default btn-block" style="padding-top: 6px !important;padding-bottom: 6px !important" analytics-on="click" analytics-category="New Project" analytics-event="Start New Project Clicked">Create a New Project</button>
            </div>
            <div class="col-sm-12 text-center" style="font-size:14px;color:#ccc">------------------------------------- or -------------------------------------</div>
            <div class="col-md-offset-2 col-md-8 mr-t-15 mr-b-15">
                <button type="submit" ng-click="select('copyFromOldProject')" class="btn btn-default btn-block" style="padding-top: 6px !important;padding-bottom: 6px !important" analytics-on="click" analytics-category="New Project" analytics-event="Choose From Existing Projects Clicked">Copy an Existing Project</button>
            </div>
            <!-- <div class="loadingBar" ></div> -->
        </div>
    </div>
    <div id="custom_fade"></div>
</div>
