<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <!-- error msg -->
                <div class="alert alert-danger" ng-show="forgotPasswordError">{{forgotPasswordErrorMsg}}</div>
                <div class="panel panel-primary">
                    <div class="panel-heading" style="height:33px">
                    </div>
                    <div class="panel-body" style="color:#565e62;padding:15px 25px;">
                        <div class="mr-b-15" style="text-align:left;font-size:24px;font-weight:bold;color:#5a626">Forgot your password</div>
                        <div class="text" style="text-align:left;font-size:14px;">Enter the email address you registered with and we'll send you instructions on how to reset it.</div>
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                <form class="text-left">
                                    <div class="form-group">
                                        <label for="registeredEmail">Email address <i class="fa fa-asterisk" style="color:red;font-size:8px;vertical-align:middle"></i></label>
                                        <input type="email" class="form-control" id="registeredEmail" placeholder="Registered email" ng-model="emailInput">
                                    </div>
                                    <div class="text-center">
                                    	<button type="submit" class="btn btn-success" ng-disabled="emailInput === ''" ng-click="sendNewPassword()">Email Instructions</button>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

