<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
    <img class="display:block; margin-left:auto; margin-right:auto;" style="padding-bottom:40px" src="images/ValidateIt_cropped.png" class="img-responsive brand-image" ng-click="changePath('views/admin/overview.html')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6  col-md-offset-3">
                <div class="panel panel-primary" style="min-height: 249px;">
                    <div class="panel-heading" style="margin-bottom:0">
                        <h3 class="panel-title">Enter new Password</h3>
                    </div>
                    <div class="panel-body">
                        <!-- <div style="color: #337ab7;font-size: 19px;font-weight: bold;">{{user.email}}</div> -->
                        <div class="row">
                            <div class="col-xs-12 login-box">
                                <div><!-- Alert Message -->
                                    <div ng-show="resetPasswordError" class="alert alert-danger animate-show" role="alert" style="text-align:center;margin-bottom:0">{{passwordErrorMsg}}</div>
                                </div>
                                <form role="form" ng-submit="resetPassword()">
                                    <div class="alert alert-warning text-left"><strong>Hint</strong><span>: Good passwords are hard to guess. Use uncommon words or inside jokes, non-standard, uppercasing, creative spelling, and non-obvious numbers and symbols</span></div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control big" placeholder="Enter New Password" ng-model="password.newPassword" ng-change="checkPasswordStrength(password.newPassword)"/>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control big" placeholder="Confirm New Password" ng-model="password.confirmPassword" />
                                    </div>
                                    <!-- password strength indicator -->
                                    <div class="progress" ng-show="showStrength" autocomplete="false">
                                        <div class="progress-bar" ng-class="percentage" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{percentage}}">{{strengthText}}</div>
                                    </div>
                                </form>
                            </div>
                            <!-- <div class="col-xs-3 col-sm-3 col-md-3"></div> -->
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                                <!-- <button type="submit" ng-click="resetPassword()" ng-keydown="$event.which === 13 && resetPassword()" class="btn btn-labeled btn-success" ng-class="{disabled: resetPasswordError}"> -->
                                <button type="submit" ng-click="resetPassword()" class="btn btn-labeled btn-success" ng-disabled="disableSubmit">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
