.c3 svg {
    width: 100%;
    g.c3-axis.c3-axis-x g tspan {
        font-size: 14px;
    }
    g g .c3-axis-y-label {
        font-size: 14px;
    }
    g g .c3-chart-texts .c3-text {
        font-size: 14px;
    }
}
