@import "variables";
form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.color1 {
    background-color: white;
}

// overwrite bootstrap form style
.form-control {
    height: 25px !important;
    padding: 2px 12px !important;
    font-size: $font-size-base !important;
    color: #333333 !important;
    &.big {
        height: 35px !important;
        padding: 6px 12px !important;
    }
}

input {
    &[type=checkbox] {
        &.big {
            width: 16px;
            height: 16px;
        }
    }
    &[type=file]{
        &.custom{
            display: block !important;
            background: #FFF !important;
            width: 100% !important;
            color: #999 !important;
            box-shadow: inset 2px 0px 10px 0px #ccc !important;
            border-radius: 3px !important;
            &.disabled{
                &:hover{
                    cursor: not-allowed;
                }

            }
        }

    }
}

input:-ms-input-placeholder {   // set input box placeholder color for IE11
   color: #999 !important;
}
textarea:-ms-input-placeholder {   // set textarea placeholder color for IE11
   color: #999 !important;
}


    textarea.paper-st,
    textarea.paper-st.form-control,
    input[type=text].paper-st,
    input[type=password].paper-st,
    input[type=email].paper-st,
    input[type=number].paper-st,
    [type=text].paper-st.form-control,
    [type=password].paper-st.form-control {
        padding: 0;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: inset 0 -1px 0 #dddddd;
        box-shadow: inset 0 -1px 0 #dddddd;
        font-size: 16px;
    }

    textarea.paper-st:focus,
    textarea.paper-st.form-control:focus,
    input[type=text].paper-st:focus,
    input[type=password].paper-st:focus,
    input[type=email].paper-st:focus,
    input[type=number].paper-st:focus,
    [type=text].paper-st.form-control:focus,
    [type=password].paper-st.form-control:focus {
        -webkit-box-shadow: inset 0 -2px 0 #2196f3;
        box-shadow: inset 0 -2px 0 #2196f3;
    }

    textarea[disabled].paper-st,
    textarea.form-control[disabled].paper-st,
    input[type=text][disabled].paper-st,
    input[type=password][disabled].paper-st,
    input[type=email][disabled].paper-st,
    input[type=number][disabled].paper-st,
    [type=text].form-control[disabled].paper-st,
    [type=password].form-control[disabled].paper-st,
    textarea[readonly].paper-st,
    textarea.form-control[readonly].paper-st,
    input[type=text][readonly].paper-st,
    input[type=password][readonly].paper-st,
    input[type=email][readonly].paper-st,
    input[type=number][readonly].paper-st,
    [type=text].form-control[readonly].paper-st,
    [type=password].form-control[readonly].paper-st {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px dotted #ddd;
    }

    select.paper-st,
    select.form-control.paper-st {
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.required-field{
    &:after {
        color: $color-red;
        content:"*";
        position: relative;
        top: -3px;
        margin-left: 2px;
    }
}



